@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/bg.jpg") ;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    color: #f0f0f0;
}

.page {
    width: 100vw;
    height: 100vh;
}